.dfe-markdown {
	// 2015-10-25
	// В оригинале тут «9».
	// Однако в Magento верхняя панель имеет z-index 400, а левая — 700,
	// поэтому нам надо ставить больше.
	// https://github.com/magento/magento2/blob/4499554d4e47135cdb8f5464e1d7eed3ebfb985e/lib/web/css/source/lib/variables/_structure.less#L17
	.CodeMirror-fullscreen, .editor-toolbar.fullscreen {z-index: 709;}
	// 2015-10-26
	// Для краткого описания товара делаем высоту редактора поменьше.
	// https://github.com/NextStepWebs/simplemde-markdown-editor#height
	&.short_description .CodeMirror {
		height: 100px;
		// Несмотря на то, что в документации этого не сказано,
		// надо обязательно задать свой min-height,
		// потому что иначе стандартный min-height: 300px
		// имеет приоритет перед нашим height=
		// Но и правило height= тоже важно: без него высота всё равно не задаётся.
		min-height: 100px;
	}
}
.catalog-category-edit .dfe-markdown.description .CodeMirror {
	height: 150px;
	min-height: 150px;
}
