<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<!--
		2015-10-27
		Цель плагина — замещение при необходимости стандартного редактора нашим.
		2015-11-03
		Этот класс не получается объединить с классом @see \Dfe\Markdown\Plugin\Framework\Data\Form
	-->
	<type name='Magento\Framework\Data\Form\AbstractForm'>
		<plugin name='Dfe\Markdown\Plugin\Framework\Data\Form\AbstractForm' type='Dfe\Markdown\Plugin\Framework\Data\Form\AbstractForm'/>
	</type>
	<!--
		2015-11-03
		Вторая цель плагина — подмена содержимого поля «content» с HTML на Markdown
		перед редактированием содержимого.
		Этот класс не получается объединить с классом @see \Dfe\Markdown\AbstractForm
	-->
	<type name='Magento\Framework\Data\Form'>
		<plugin name='Dfe\Markdown\Plugin\Framework\Data\Form' type='Dfe\Markdown\Plugin\Framework\Data\Form'/>
	</type>
	<!--
		2016-01-06
		Цель метода — ...
	-->
	<type name='Magento\Ui\Component\Form\Element\Wysiwyg'>
		<plugin
			name='Dfe\Markdown\Plugin\Ui\Component\Form\Element\Wysiwyg'
			type='Dfe\Markdown\Plugin\Ui\Component\Form\Element\Wysiwyg'
		/>
	</type>
	<!-- 2016-02-25 -->
	<type name='Magento\Ui\DataProvider\Modifier\Pool'>
		<arguments>
			<argument name='modifiers' xsi:type='array'>
				<item name='dfe_markdown' xsi:type='array'>
					<item name='class' xsi:type='string'>Dfe\Markdown\Modifier</item>
					<!--
						2016-02-26
						Этот параметр является обязательным.
						Причём нам надо делать значение большим, чем значение у
						Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav (10),
						потому что сначала должен сработать
						Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav,
						и лишь затем наш, чтобы мы могли сменить стандартные значения
						полей «description» и «short_description» на свои.
						https://mage2.pro/t/775
						https://github.com/magento/magento2/blob/e0ed4bad/app/code/Magento/Catalog/etc/adminhtml/di.xml#L92-L95
					-->
					<item name='sortOrder' xsi:type='number'>11</item>
				</item>
			</argument>
		</arguments>
	</type>
</config>