<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='../../../../Magento/Config/etc/system_file.xsd'
>
    <system>
        <!--
            2015-07-10
            Минимальная длина идентификатора tab — 3 символа:
            https://github.com/magento/magento2/blob/1.0.0-beta/app/code/Magento/Config/etc/system_file.xsd#L405
            Поэтому ставим символ подчёркивания вначале.
        -->
        <tab id='_df' translate='label' sortOrder='-100'>
            <label>Mage2.PRO</label>
        </tab>
        <section
            id='dfe_backend'
            translate='label'
            type='text'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Backend</label>
            <class>separator-top</class>
            <!--
                2015-10-05
                https://mage2.pro/t/114
            -->
            <resource>Df_Backend::config</resource>
            <!--
                2015-09-25
                Первые 2 цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
            -->
            <group
                id='markdown'
                translate='label'
                type='text'
                sortOrder='13'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>Markdown</label>
                <field
                    id='enable'
                    translate='label'
                    type='select'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Enable?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable Markdown Editor? See the <a href='https://mage2.pro/t/160'>documentation</a>.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>